<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my.jerrychan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.AuthorShotsActivity"
            android:label="@string/title_activity_author_shots"
            android:theme="@style/AuthorShotsActTheme"></activity>
        <activity android:name=".activity.PersonInfoActivity"
            android:theme="@style/ImageTranslucentTheme">

        </activity>
    </application>

</manifest>
